<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="host" value="192.168.1.23"/>
    <add key="qv_admin" value="abdul.arbaaz"/>
    <add key="qv_pass" value="Welcome@123"/>
    <add key="domain" value="ou=Users,dc=example,dc=local"/>
    <add key="qlikviewurl" value="http://localhost/QVAJAXZFC/getwebticket.aspx"/>
    <add key="document" value=""/>
  </appSettings>
</configuration>